<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ccf.data.meeting.MeetingMapper">
    <select id="getMeetingById" resultType="Meeting">
        select * from meeting where meeting_id = #{meeting_id}
    </select>
    <select id="getMeetingPaper" resultMap="Paper">
        select p.* from paper p, meeting m
        where p.book_title=m.title and m.meeting_id= #{meeting_id}
        order by p.citation desc
        limit #{offset}, 10
    </select>
    <select id="getMeetingByTitle" resultMap="Meeting">
        select * from meeting where title in
        <foreach collection="titles" item="title" open="(" close=")" separator=",">
            #{title}
        </foreach>
    </select>
    <resultMap id="Meeting" type="com.example.ccf.po.Meeting">
    </resultMap>
    <resultMap id="Paper" type="com.example.ccf.po.Paper">
    </resultMap>
</mapper>