<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ccf.data.paper.PaperMapper">
    <select id="getPaperById" resultType="Paper">
        select * from paper where paper_id = #{paper_id}
    </select>
</mapper>