<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ccf.data.statistic.StatisticMapper">
    <select id="getStatistic" resultType="Statistic">
        select * from statistic where statistic_id = 1
    </select>
    <select id="getCrawlStatistic" resultMap="Crawl">
        select * from crawl
    </select>
    <resultMap id="Crawl" type="com.example.ccf.po.statistic.Crawl">
    </resultMap>
    <resultMap id="Statistic" type="com.example.ccf.po.statistic.Statistic">
    </resultMap>
</mapper>