<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ccf.data.author.AuthorMapper">
    <select id="getAuthorById" resultType="Author">
        select * from author where author_id = #{author_id}
    </select>
    <select id="getAuthorAffiliation" resultMap="Affiliation">
        select a.affiliation_id, a.affiliation,a.article_num,a.article_citation_num,a.author_num
        from affiliation a, affiliation_author_relation af
        where af.author_id = #{author_id} and af.affiliation_id=a.affiliation_id;
    </select>
    <select id="getAuthorPapers" resultMap="Paper">
        select p.paper_id, p.title, p.abstract, p.doi, p.citation, p.book_title, p.pages, p.publisher, p.year, p.url, p.time, p.bib_url, p.bib_source
        from paper p, paper_author_relation pr
        where p.paper_id=pr.paper_id and pr.author_id= #{author_id}
        order by p.citation desc
        limit #{offset}, 10
    </select>
    <select id="getAuthorMainMeeting" resultMap="String">
        select p.book_title, count(distinct p.paper_id) as count
        from paper p, affiliation af , paper_author_relation pr
        where p.paper_id=pr.paper_id and pr.author_id= #{author_id}
        group by p.book_title order by count desc limit 0,5;
    </select>
    <resultMap id="Affiliation" type="com.example.ccf.po.Affiliation">
        <result column="affiliation_id" property="affiliation_id"></result>
        <result column="affiliation" property="affiliation"></result>
        <result column="article_num" property="article_num"></result>
        <result column="article_citation_num" property="article_citation_num"></result>
        <result column="author_num" property="author_num"></result>
    </resultMap>
    <resultMap id="Paper" type="com.example.ccf.po.Paper">
    </resultMap>
    <resultMap id="String" type="java.lang.String">
    </resultMap>
</mapper>