<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ccf.data.author.AuthorMapper">
    <select id="getAuthorById" resultType="Author">
        select * from author where author_id = #{author_id}
    </select>
    <select id="getAuthorAffiliation" resultMap="Affiliation">
        select a.affiliation_id, a.affiliation,a.article_num,a.article_citation_num,a.author_num
        from affiliation a, author_affiliation_relation af
        where af.author_id = #{author_id} and af.affiliation_id=a.affiliation_id;
    </select>
    <resultMap id="Affiliation" type="com.example.ccf.po.Affiliation">
        <result column="affiliation_id" property="affiliation_id"></result>
        <result column="affiliation" property="affiliation"></result>
        <result column="article_num" property="article_num"></result>
        <result column="article_citation_num" property="article_citation_num"></result>
        <result column="author_num" property="author_num"></result>
    </resultMap>
</mapper>