<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ccf.data.segmentation.SegmentationMapper">
    <select id="get_title" resultMap="SegmentationTitle">
        select paper_id,title from paper where paper_id >= #{start_id}
    </select>

    <select id="get_keyword" resultMap="Keyword">
        select paper_id, keyword_id from  paper_keyword_relation where paper_id >=#{start_id}
    </select>
    <select id="get_keywords" resultMap="Keywords">
        select  keyword_id,keyword from   keyword
    </select>

    <insert id="insert_segmentation_title" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into SegmentationTitle(segmentation,paper_id) values
            <foreach collection="list" item="item" separator="," close=";">
                (#{item.title},#{item.paper_id})
            </foreach>
    </insert>

    <insert id="insert_keyword" parameterType="java.util.List"
            useGeneratedKeys="true">
        insert into SegmentationKeyword(keyword,paper_id) values
        <foreach collection="list" item="item" separator="," close=";">
            (#{item.keyword},#{item.paper_id})
        </foreach>
    </insert>
    <resultMap id="SegmentationTitle" type="com.example.ccf.po.SegmentationTitle">
        <result column="paper_id" property="paper_id"></result>
        <result column="title" property="title"></result>
    </resultMap>

    <resultMap id="Keyword" type="com.example.ccf.po.KeywordInf">
        <result column="paper_id" property="paper_id"></result>
        <result column="keyword_id" property="keyword_id"></result>
    </resultMap>
    <resultMap id="Keywords" type="com.example.ccf.po.KeywordInf">
        <result column="keyword_id" property="keyword_id"></result>
        <result column="keyword" property="keyword"></result>
    </resultMap>
</mapper>